<div class="card event-card" >

    <div class="date">
        <p class="day">{{event.date|date("d/m")}}</p>
        <p class="hour">{{event.date|date("h\\hi")}}</p>
    </div>


        <img class="card-img" src="/pictures/event/{{ event.picture ?? 'emptyEventPicture.jpg' }}" alt="Card image cap">

        <div class="card-body">
            <p class="card-name">{{event.name}}</p>

            <a class="btn btn-sm btn-primary mt-2" href="{{ path('event_show', { 'id':event.id }) }}">
                <i class="far fa-laugh-wink mr-1"></i>
                En savoir plus
            </a>

            {% include 'tools/_adminButton.html.twig' with {
                'text': 'Modifier',
                'path': path('event_edit', {'id': event.id})
            } %}

            {% include 'tools/_adminButton.html.twig' with {
                'text': 'Envoyer cet évènement aux abonnés par email',
                'path': path('event_notify', {'id': event.id})
            } %}

        </div>

</div>

