<div class="col-sm-12 col-md-6 col-lg-4 " >
    <div class="
        event-card
        {% if event.restricted %}event-restricted{% endif %}
    ">
        <div class="date">
            <p class="day">{{event.date|date("d/m")}}</p>
            <p class="hour">{{event.date|date("h\\hi")}}</p>
        </div>

        <div class="img-wrapper">
            <img class="event-img" src="/pictures/event/{{ event.picture ?? 'emptyEventPicture.jpg' }}" alt="Card image cap">
        </div>

        <div class="card-body">
            <h2 class="content-name">{{event.name}}</h2>

            <a class="btn btn-sm btn-primary mt-2" href="{{ path('event_show', { 'id':event.id }) }}">
                <i class="far fa-laugh-wink mr-1"></i>
                En savoir plus
            </a>

            {% include 'tools/_adminButton.html.twig' with {
                'text': 'Modifier',
                'path': path('event_edit', {'id': event.id})
            } %}

            {% if not event.restricted %}
                {% include 'tools/_adminButton.html.twig' with {
                    'text': 'Envoyer cet évènement aux abonnés par email',
                    'path': path('event_notify', {'id': event.id})
                } %}
            {% endif %}


        </div>
    </div>
</div>

