{% extends 'base.html.twig' %}

{% block title %}Modifier l'évènement{% endblock %}

{% block javascripts %}
    {{ parent()}}
    {{ encore_entry_script_tags('formEvent') }}
{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    {{ encore_entry_link_tags('formEvent') }}
{% endblock %}

{% block body %}
    <section class="container">
        <h1>Modifier l'évènement</h1>

        {{ include('event/_form.html.twig', {'button_label': 'Update'}) }}

        {% include'tools/_deleteButton.html.twig' with {
            'path': path('content_delete', {'id': event.id}),
            'tokenIndex' : event.id
        } %}

    </section>
{% endblock %}
