{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}


    <section class="container">
        <h1>Liste des évenements de l'agenda</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Texte</th>
                <th>Date</th>
                <th>Lieu</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event.name }}</td>
                    <td>{{ event.text }}</td>
                    <td>{{ event.date ? event.date|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ event.place }}</td>
                    <td>
                        <a href="{{ path('event_show', {'id': event.id}) }}">show</a>
                        <a href="{{ path('event_edit', {'id': event.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Aucun évenement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('event_new') }}">Créer un nouvel évenement</a>
    </section>

{% endblock %}
