{% extends 'base.html.twig' %}

{% block title %}Créer un évènement{% endblock %}

{% block javascripts %}
    {{ parent()}}
    {{ encore_entry_script_tags('formEvent') }}
{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    {{ encore_entry_link_tags('formEvent') }}
{% endblock %}

{% block body %}
    <section class="container">
        {%  include 'tools/_h1.html.twig' with {'title' : 'AJOUTER UN EVENEMENT'} %}

        {{ include('event/_form.html.twig') }}

    </section>
{% endblock %}
