{% extends 'base.html.twig' %}

{% block title %}Créer un évènement{% endblock %}

{% block javascripts %}
    {{ parent()}}
    {{ encore_entry_script_tags('formEvent') }}
{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    {{ encore_entry_link_tags('formEvent') }}
{% endblock %}

{% block body %}
    <section class="container">
        <h1>Créer un évènement</h1>

        {{ include('event/_form.html.twig') }}

    </section>
{% endblock %}
