{% extends 'base.html.twig' %}

{% block title %}{{ event.name }}{% endblock %}

{% block javascripts %}
    {{ parent()}}
    {{ encore_entry_script_tags('showevent') }}
{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    {{ encore_entry_link_tags('showevent') }}
{% endblock %}

{% block body %}
    <section class="container">
        {%  include 'tools/_h1.html.twig' with {'title' : event.name} %}

        {% include 'tools/_backButton.html.twig' with {
            'text': 'Revenir à la liste des évenements',
            'path': path('event_index')
        } %}

        {% include 'tools/_adminButton.html.twig' with {
            'path': path('event_edit', {'id': event.id})
        } %}

        {% include'tools/_deleteButton.html.twig' with {
            'path': path('event_delete', {'id': event.id}),
            'tokenIndex' : event.id
        } %}

        <div class="row event">
            <div class="col-sm-12 col-md-6">
                <img class="card-img" src="/pictures/event/{{ event.picture ?? 'emptyEventPicture.jpg' }}" alt="{{ event.name }}">
            </div>
            <div class="col-sm-12 col-md-6 row event-data">
                <div class="info date col-sm-12 col-md-4 d-flex flex-column align-items-center">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-event" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                        <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                    </svg>
                    <p>Le {{event.date|date("d/m")}}</p>
                </div>

                <div class="info hour col-sm-12 col-md-4 d-flex flex-column align-items-center">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-alarm" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M6.5 0a.5.5 0 0 0 0 1H7v1.07a7.001 7.001 0 0 0-3.273 12.474l-.602.602a.5.5 0 0 0 .707.708l.746-.746A6.97 6.97 0 0 0 8 16a6.97 6.97 0 0 0 3.422-.892l.746.746a.5.5 0 0 0 .707-.708l-.601-.602A7.001 7.001 0 0 0 9 2.07V1h.5a.5.5 0 0 0 0-1h-3zm1.038 3.018a6.093 6.093 0 0 1 .924 0 6 6 0 1 1-.924 0zM8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5zM0 3.5c0 .753.333 1.429.86 1.887A8.035 8.035 0 0 1 4.387 1.86 2.5 2.5 0 0 0 0 3.5zM13.5 1c-.753 0-1.429.333-1.887.86a8.035 8.035 0 0 1 3.527 3.527A2.5 2.5 0 0 0 13.5 1z"/>
                    </svg>
                    <p>{{event.date|date("h\\hi")}}</p>
                </div>

                <div class="info place col-sm-12 col-md-4 d-flex flex-column align-items-center">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M12.166 8.94C12.696 7.867 13 6.862 13 6A5 5 0 0 0 3 6c0 .862.305 1.867.834 2.94.524 1.062 1.234 2.12 1.96 3.07A31.481 31.481 0 0 0 8 14.58l.208-.22a31.493 31.493 0 0 0 1.998-2.35c.726-.95 1.436-2.008 1.96-3.07zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                        <path fill-rule="evenodd" d="M8 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                    {{ event.place }}
                </div>

                <div class="col-12">
                    {{ event.text }}
                </div>

                {% if event.contact is not null %}

                    <div class="col-12">
                        <p>Informations complémentaires : {{ event.contact}}</p>
                        {% include 'tools/_backButton.html.twig' with {
                            'text': 'Contacter l\'organisateur',
                            'path': path('event_contact', {'id':event.id})
                        } %}
                    </div>
                {% endif %}

            </div>
        </div>

        {% include 'tools/_backButton.html.twig' with {
            'text': 'Revenir à la liste des évenements',
            'path': path('event_index')
        } %}

        {% include 'tools/_adminButton.html.twig' with {
            'path': path('event_edit', {'id': event.id})
        } %}

        {% include'tools/_deleteButton.html.twig' with {
            'path': path('event_delete', {'id': event.id}),
            'tokenIndex' : event.id
        } %}
    </section>
{% endblock %}
