{% extends 'base.html.twig' %}

{% block title %}Partyroom{% endblock %}

{% block body %}
    <h1>Partyroom</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ partyroom.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ partyroom.date ? partyroom.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Booker</th>
                <td>{{ partyroom.booker }}</td>
            </tr>
            <tr>
                <th>Validated</th>
                <td>{{ partyroom.validated ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('partyroom_index') }}">back to list</a>

    <a href="{{ path('partyroom_edit', {'id': partyroom.id}) }}">edit</a>

    {{ include('partyroom/_delete_form.html.twig') }}
{% endblock %}
