{% extends 'base.html.twig' %}

{% block title %}{{ content.title }}{% endblock %}

{% block javascripts %}
    {{ parent()}}
    {{ encore_entry_script_tags('showcontent') }}
{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    {{ encore_entry_link_tags('showcontent') }}
{% endblock %}

{% block body %}
    <section class="container">

        <h1>{{ content.title }}</h1>

        <img class="card-img-top" src="/pictures/content/emptyContentPicture.jpg" alt="{{ content.picture }}">

        <p class="detail">Publié le {{ content.date ? content.date|date('Y-m-d') : '' }}</p>

        <div class="text">
            {{ content.text }}
        </div>

        {% include 'tools/_back.html.twig' with {
            'text': 'Revenir à la liste des articles',
            'path': path('content_index')
        } %}

        {% include 'tools/_adminButton.html.twig' with {
            'path': path('content_edit', {'id': content.id})
        } %}

        {% include'tools/_deleteButton.html.twig' with {
            'path': path('content_delete', {'id': content.id}),
            'tokenIndex' : content.id
        } %}

        <h2>Quelques suggestions</h2>

        <div class="card-deck">
            {% for content in contents %}
                {% include('content/_contentCard.html.twig') %}
            {% endfor %}
        </div>

    </section>
{% endblock %}
