{% extends 'base.html.twig' %}

{% block title %}Restaurant{% endblock %}

{% block body %}
    <h1>Restaurant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ restaurant.id }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ restaurant.startDate ? restaurant.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>EndDate</th>
                <td>{{ restaurant.endDate ? restaurant.endDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td>{{ restaurant.document }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('restaurant_index') }}">back to list</a>

    <a href="{{ path('restaurant_edit', {'id': restaurant.id}) }}">edit</a>


{% endblock %}
