{% extends 'pdf.html.twig' %}

{% block stylesheets %}
    <style>

        @page {
            margin: 100px 100px;
        }

        .summary {
            page-break-after: always;
        }

        .article {
            font-size : 12pt;
            width : 100vw;
        }

        .article:nth-of-type(even) .before{
            display:none;
        }
        .article:nth-of-type(odd) .after{
            display:none;
        }

        .title-in-text {  }
        .title-before-everything { display:none; }
        .title-before-image { display:none; }

       .text-block {
           min-width : 50%;
           max-width : 50%;
           xborder:thin solid #FF0000;
       }

       .text-block-body {
           text-align: justify;
           text-justify: inter-word;
       }

        .picture-block {
            border:thin solid #00FF00;
            padding:0;
            margin:0;
            height:auto;
        }

        .picture{
            width : 250px;
            border:thin solid #0000FF;
            margin:0%;
            xpadding:10px;
        }

        .details {
            float: left;
            text-align : left;
            width:100%;
            color : #999999;
            font-style: italic;
            font-size : 8pt;
            border-top : thin solid #999999;
        }

        .page_break {
            page-break-before: always;
        }

        h2{
            padding-top:0;
            margin-top:0;
        }

    </style>
{% endblock %}

{% block body %}
    <h1>Le Bulletin de VILLEREAU</h1>
    <p>Edité le {{ newspaper2.date ? newspaper2.date|date('d ') ~ newspaper2.month ~ newspaper2.date|date(' Y'): '' }}</p>

    <section class="summary">
        <h1>Au sommaire : </h1>
        {% for subject in newspaper2.newspaperSubject2s %}
            {% set base64 = pictures[subject.content.picture] %}

            <h2><img src="{{base64}}" width="30" height="30"/>{{ subject.content.title }}</h2>
        {% endfor %}
    </section>



    {% for subject in newspaper2.newspaperSubject2s %}
        {% set base64 = pictures[subject.content.picture] %}
        <section class="article">
            <table>
                <tbody>
                    <tr>
                        <td class="title-before-everything" colspan="2">
                            <h2>{{ subject.content.title }}</h2>
                        </td>
                    </tr>

                    <tr class="">
                        <td class="picture-block before">
                            <h2 class="title-before-image">{{ subject.content.title }}</h2>
                            <img class="picture" src="{{base64}}"/>

                        </td>

                        <td class="text-block">
                            <h2 class="title-in-text">{{ subject.content.title }}</h2>
                            <p class="text-block-body">{{ subject.content.text }}</p>
                            <div class="details">
                                <p class="date">Publié le {{ subject.content.date|date("d/m/Y") }}</p>
                                <p class="category">Dans la catégorie {{ subject.content.category.name }}</p>
                            </div>
                        </td>

                        <td class="picture-block after">
                            <h2 class="title-before-image">{{ subject.content.title }}</h2>
                            <img class="picture" src="{{base64}}"/>

                        </td>
                        <br>
                    </tr>
                </tbody>
            </table>

        </section>
        <br>
    {% endfor %}
{% endblock %}
