{% extends 'base.html.twig' %}

{% block title %}Liste des bulletins municipaux{% endblock %}

{% block javascripts %}
    {{ parent()}}
    {{ encore_entry_script_tags('reportpage') }}
{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    {{ encore_entry_link_tags('reportpage') }}
{% endblock %}

{% block body %}

    <section>
        <div class="container">
            <h1>Liste des bulletins municipaux</h1>

            {% include 'tools/_adminButton.html.twig' with {
                'text': 'Créer un nouveau bulletin municipal à partir d\'un fichier',
                'path': path('newspaper_new')
            } %}

            {% include 'tools/_adminButton.html.twig' with {
                'text': 'Créer un nouveau bulletin municipal à partir des articles du blog',
                'path': path('newspaper2_new')
            } %}

            {% set newspapersCount = newspapers|length + newspapers2|length %}
            {% set newspaperIndex = 0 %}
            {% set newspaper2Index = 0 %}
            <div class="report-list row">

                {%  for i in 0..newspapersCount - 1 %}
                    {% set newspaperDate = newspapers[newspaperIndex].date ?? 0 %}
                    {% set newspaper2Date = newspapers2[newspaper2Index].date ?? 0 %}

                    {% if newspaperDate|date('Y-m-d') > newspaper2Date|date('Y-m-d') %}
                        {# put the newspaper in the html #}
                        {% set newspaper = newspapers[newspaperIndex] %}

                        {{ include('newspaper/_newspaperCard.html.twig') }}

                        {% set newspaperIndex = newspaperIndex +1 %}
                    {% else %}
                        {# put the newspaper2 in the html #}
                        {% set newspaper = newspapers2[newspaper2Index] %}

                        {{ include('newspaper2/_newspaperCard.html.twig') }}

                        {% set newspaper2Index = newspaper2Index +1 %}
                    {% endif %}

                {% else %}
                    Aucun bulletin municipal n'est enregistré
                {% endfor %}
            </div>

            {% include 'tools/_adminButton.html.twig' with {
                'text': 'Créer un nouveau bulletin municipal à partir d\'un fichier',
                'path': path('newspaper_new')
            } %}

            {% include 'tools/_adminButton.html.twig' with {
                'text': 'Créer un nouveau bulletin municipal à partir des articles du blog',
                'path': path('newspaper2_new')
            } %}

        </div>
    </section>

{% endblock %}
