{% extends 'base.html.twig' %}

{% block title %}Completer un rapport{% endblock %}

{% block javascripts %}
    {{ parent()}}
    {{ encore_entry_script_tags('formReport') }}
{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    {{ encore_entry_link_tags('formReport') }}
{% endblock %}

{% block body %}
    <section class="container">
        {%  include 'tools/_h1.html.twig' with {'title' : 'compléter un rapport'} %}

        {{ include('report/_form.html.twig', {'button_label': 'Update'}) }}

    </section>
{% endblock %}
