{% extends 'base.html.twig' %}

{% block title %}Completer un rapport{% endblock %}

{% block javascripts %}
    {{ parent()}}
    {{ encore_entry_script_tags('formReport') }}
{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    {{ encore_entry_link_tags('formReport') }}
{% endblock %}

{% block body %}
    <section class="container">
        <h1>Edit Report</h1>

        {{ include('report/_form.html.twig', {'button_label': 'Update'}) }}

    </section>
{% endblock %}
