{% extends 'base.html.twig' %}

{% block title %}Ajouter un compte rendu{% endblock %}

{% block javascripts %}
    {{ parent()}}
    {{ encore_entry_script_tags('formReport') }}
{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    {{ encore_entry_link_tags('formReport') }}
{% endblock %}

{% block body %}
    <section class="container">
        {%  include 'tools/_h1.html.twig' with {'title' : 'AJOUTER UN COMPTE RENDU'} %}

        {{ include('report/_form.html.twig') }}

    </section>
{% endblock %}
