{% extends 'base.html.twig' %}

{% block title %}Report{% endblock %}

{% block body %}
    <section class="container">
        <h1>Rapport de conseil Municipal</h1>

        {{ report.id }}
        {{ report.document }}
        <a href="../documents/reports/{{ report.document }}">lien vers le document</a>
        {{ report.date ? report.date|date('Y-m-d') : '' }}

        <a href="{{ path('report_index') }}">back to list</a>

        <a href="{{ path('report_edit', {'id': report.id}) }}">edit</a>

        {{ include('report/_delete_form.html.twig') }}
    </section>
{% endblock %}
