{% extends 'base.html.twig' %}

{% block title %}Mairie{% endblock %}

{% block javascripts %}
    {{ parent()}}
    {{ encore_entry_script_tags('vcardpage') }}
{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    {{ encore_entry_link_tags('vcardpage') }}
{% endblock %}

{% block body %}
    <section class="container-fluid">

        {%  include 'tools/_h1.html.twig' with {'title' : 'SORTIR A VILLEREAU'} %}

        <div class="row card-container">
            {% for vcard in vcards %}
                {% if vcard.type == 'Association' %}
                        {{ include('vcard/_vcardCard.html.twig', {'vcard': vcard}) }}
                {% endif %}
            {% endfor %}
        </div>

        {%  include 'tools/_h1.html.twig' with {'title' : 'SERVICES ADMINISTRATIFS'} %}

        <div class="row card-container">
            {% for vcard in vcards %}
                {% if vcard.type == 'Service Administratif' %}
                    {{ include('vcard/_vcardCard.html.twig', {'vcard': vcard}) }}
                {% endif %}
            {% endfor %}
        </div>

        {%  include 'tools/_h1.html.twig' with {'title' : 'LES ENTREPRISES DE LA COMMUNE'} %}

        <div class="row card-container">
            {% for vcard in vcards %}
                {% if vcard.type == 'Entreprise' %}
                    {{ include('vcard/_vcardCard.html.twig', {'vcard': vcard}) }}
                {% endif %}
            {% endfor %}
        </div>

        {% include 'tools/_backButton.html.twig' with {
            'text': 'Revenir à la page d\'accueil',
            'path': path('home')
        } %}

        {% include 'tools/_adminButton.html.twig' with {
            'text': 'Créer un nouvel équipier',
            'path': path('vcard_new')
        } %}

    </section>
{% endblock %}
