{% extends 'email.html.twig' %}

{% block title %}Un nouvel évenement a été créé{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block message %}
    <h2 style="
        color:#D72C16;
    ">La mairie de Villereau souhaite vous informer de l'évolution de l'évenement \"{{ event.name }}\"</h2>

    <div class="card content-card">
        <h5 class="card-title">{{event.name}}</h5>
        <img class="card-img-top" src="{{ email.image('@pictures/event/emptyEventPicture.jpg') }}" alt="Card image cap">
        <h6 class="card-title">Publié le {{event.date|date("d/m/Y")}}</h6>

        <div class="card-body">
            <p class="card-text">{{event.date|date("d/m/Y h\\hi")}}...</p>
            <p class="card-text">{{event.place}}...</p>
            <p class="card-text">{{event.text|u.truncate(125)}}...</p>

            {% include 'tools/_seeButton.html.twig' with {
                'text': 'Voir l\'évènement',
                'path': path('event_show', {'id': event.id})
            } %}
        </div>
    </div>
{% endblock %}
