{%  set modalName= 'modale-teammate-'~teammate.id %}

<div class="teammate">

    <div class="teammate-picture-wrapper" data-aos="fade-in" data-aos-duration="1500" data-aos-offset="10" data-aos-easing="ease-in-out">
        <img class="teammate-picture shadow"
             src="/pictures/teammate/{{ teammate.picture }}"
             alt="Photo de {{teammate.firstname}}">
    </div>

    <div class="teammate-data">
        <p class="person-name">{{ teammate.firstname }} {{ teammate.lastname }}</p>
        <p class="job">{{ teammate.role }}</p>

        {% if teammate.text|length > 200 %}
            <p class="story">{{teammate.text|u.truncate(125)}}...</p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#exampleModal{{ teammate.id }}">
                Lire la suite
            </button>
        {%  else %}
            <p class="story">{{teammate.text}}</p>
        {% endif %}

        <div class="d-flex">
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-info mr-2 ml-2" href="{{ path('teammate_edit', {'id': teammate.id}) }}"><i class="far fa-edit mr-1"></i>edit</a>
            {% endif %}
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal{{ teammate.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h2 class="person-name">{{ teammate.firstname }} {{ teammate.lastname }}</h2>
                    <h3 class="job">{{ teammate.role }}</h3>
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row">
                <div class="teammate-picture-wrapper col-sm-12 col-md-5">
                    <img class="teammate-picture shadow"
                         src="/pictures/teammate/{{ teammate.picture }}"
                         alt="Photo de {{teammate.firstname}}">
                </div>
                <p class="col-sm-12 col-md-7">{{teammate.text}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
