{% extends 'base.html.twig' %}

{% block title %}Teammate index{% endblock %}

{% block body %}
    <h1>Teammate index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Role</th>
                <th>Type</th>
                <th>Text</th>
                <th>Picture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for teammate in teammates %}
            <tr>
                <td>{{ teammate.id }}</td>
                <td>{{ teammate.firstname }}</td>
                <td>{{ teammate.lastname }}</td>
                <td>{{ teammate.role }}</td>
                <td>{{ teammate.type }}</td>
                <td>{{ teammate.text }}</td>
                <td>{{ teammate.picture }}</td>
                <td>
                    <a href="{{ path('teammate_show', {'id': teammate.id}) }}">show</a>
                    <a href="{{ path('teammate_edit', {'id': teammate.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('teammate_new') }}">Create new</a>
{% endblock %}
