{% extends 'base.html.twig' %}

{% block title %}Mairie{% endblock %}

{% block javascripts %}
    {{ parent()}}
    {{ encore_entry_script_tags('teammatepage') }}
{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    {{ encore_entry_link_tags('teammatepage') }}
{% endblock %}

{% block body %}
    <section class="container">

        {%  include 'tools/_h1.html.twig' with {'title' : 'VOS AGENTS COMMUNAUX'} %}

        <div class="row">
            {% for teammate in teammates %}
                {% if teammate.type == 'Secrétaire Général' %}
                    <div class="col-sm-12 col-md-3">
                        {{ include('teammate/_teammateCard.html.twig', {'teammate': teammate}) }}
                    </div>
                {% endif %}
            {% endfor %}

            {% for teammate in teammates %}
                {% if teammate.type == 'Agent' %}
                    <div class="col-sm-12 col-md-3">
                        {{ include('teammate/_teammateCard.html.twig', {'teammate': teammate}) }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        {%  include 'tools/_h1.html.twig' with {'title' : 'VOTRE CONSEIL MUNICIPAL'} %}

        <div class="row">
            {% for teammate in teammates %}
                {% if teammate.type == 'Maire' %}
                    <div class="col-sm-12 col-md-3">
                        {{ include('teammate/_teammateCard.html.twig', {'teammate': teammate}) }}
                    </div>
                {% endif %}
            {% endfor %}

            {% for teammate in teammates %}
                {% if teammate.type == 'Adjoint' %}
                    <div class="col-sm-12 col-md-3">
                        {{ include('teammate/_teammateCard.html.twig', {'teammate': teammate}) }}
                    </div>
                {% endif %}
            {% endfor %}

            <div class="col-12"></div>

            {% for teammate in teammates %}
                {% if teammate.type == 'Conseiller' %}
                    <div class="col-sm-12 col-md-3">
                        {{ include('teammate/_teammateCard.html.twig', {'teammate': teammate}) }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        {% include 'tools/_backButton.html.twig' with {
            'text': 'Revenir à la page d\'accueil',
            'path': path('home')
        } %}

        {% include 'tools/_adminButton.html.twig' with {
            'text': 'Créer un nouvel équipier',
            'path': path('teammate_new')
        } %}
    </section>
{% endblock %}
