{% extends 'base.html.twig' %}

{% block title %}Mairie{% endblock %}

{% block javascripts %}
    {{ parent()}}
    {{ encore_entry_script_tags('teammatepage') }}
{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    {{ encore_entry_link_tags('teammatepage') }}
{% endblock %}

{% block body %}
    <section class="container">
        <h1>Mairie</h1>

        {% for teammate in teammates %}
            {{ include('teammate/_teammateCard.html.twig', {'teammate': teammate}) }}
        {% else %}
            <td colspan="8">no records found</td>
        {% endfor %}

        {% include 'tools/_backButton.html.twig' with {
            'text': 'Revenir à la page d\'accueil',
            'path': path('home')
        } %}

        {% include 'tools/_adminButton.html.twig' with {
            'text': 'Créer un nouvel équipier',
            'path': path('teammate_new')
        } %}
    <section class="container">
{% endblock %}
